# Build outputs
bin/
obj/
[Bb]uild/
[Ll]og/

# IDE
.vs/
*.user
*.suo
*.svclog
_ReSharper*/
*.DotSettings.user
.idea/
*.sln.iml

# NuGet
packages/
*.nupkg
*.snupkg


# Misc
*.log
MTA.Web/appsettings.Production.json
